<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Concentric Network of CRAN Packages</title>
</head>
<body>
<h1 style="font-family: monospace;"> Concentric Network of CRAN Packages</h1>
<h3 style="font-family: monospace; font-weight: lighter;"> A way to visualize popular programming languages and a sampling of their CRAN packages.</h3>
<h3 style="font-family: monospace; font-weight: lighter;"> Hover over a programming language to see associated CRAN packages and a brief description of the language.</h3>


<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="en">
<body>
<!-- partial:index.partial.html -->


  <script src="https://use.typekit.net/yag6yaf.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>
<html>
<head>
<script src="https://d3js.org/d3.v3.min.js"></script>
  <meta charset="utf-8">
  

  <style>

    svg{
    padding:100px 50px 50px 50px;
    overflow: visible

}

  line.node-link, path.node-link {
    fill: none;
    

  }

  /*circle.node+text {
    text-anchor: end;
  }*/
  text {
    font-family: monospace;
    pointer-events: none;
    padding-top: 20px;
  }

  </style>
</head>
<body>
<script type="text/javascript">

var nodes_pkg_name = []
var nodes_language = []
var links = []

var data = {% autoescape off %}{{ myData }}{% endautoescape %};
var languages_list = []
var pkg_name_list = []

console.log(data)

index_lookup = {}
currentSize = 0
for (var row in data){
      if (!languages_list.includes(data[row]["language"])){
        nodes_language.push({
            "id":data[row]["language"],
            "description":data[row]["description"],
            "index": data[row]["language"],
            "count": data[row]["count"],
            "level": 1
          });
        index_lookup[data[row]["language"]] = currentSize
        currentSize = currentSize + 1
        languages_list.push(data[row]["language"])
      }  
  };

  for (var row in data){
      if (!pkg_name_list.includes(data[row]["pkg_name"])){
        nodes_pkg_name.push({
            "id":data[row]["pkg_name"],
            "index": data[row]["pkg_name"],
            "description":"",
            "count": 10,
            "level":2
          });
        index_lookup[data[row]["pkg_name"]] = currentSize
        currentSize = currentSize + 1
        pkg_name_list.push(data[row]["pkg_name"])
      }  
  };

  for (var row in data){
    links.push({
      "target":index_lookup[data[row]["language"]],
      "source":index_lookup[data[row]["pkg_name"]],
      "value": 1
    })
  }




var nodes = nodes_language.concat(nodes_pkg_name)
console.log(nodes)

var colorScheme = d3.scale.ordinal()
                .domain(nodes_language, (function(d) {
                    return d.id
                }))
                .range(["#FFADAF", "#FFC980", "#CB91A7", "#9DACCB", "#95D1A5", 
                "#F586C6", "#BFDD81", "#F18489", "#80BCEC", "#91CBB5"]);

var default_opacity = 0.3

var width = 1000,
    height =  1000;

var force = d3.layout.force()
    .nodes(nodes)
    .links(links)
    .size([width, height]);

// evenly spaces nodes along arc
var circleCoord = function(node, index, num_nodes){
    var circumference = circle.node().getTotalLength();
    var pointAtLength = function(l){return circle.node().getPointAtLength(l)};
    var sectionLength = (circumference)/num_nodes;
    var position = sectionLength*index+sectionLength/2;
    var angle = (index / (num_nodes / 2)) * Math.PI;
    return pointAtLength(circumference-position)
}

var SmallcircleCoord = function(node, index, num_nodes){
    var circumference = circle2.node().getTotalLength();
    var pointAtLength = function(l){return circle2.node().getPointAtLength(l)};
    var sectionLength = (circumference)/num_nodes;
    var position = sectionLength*index+sectionLength/2;
    var angle = (index / (num_nodes / 2)) * Math.PI;
    return pointAtLength(circumference-position)
}

// fades out lines that aren't connected to node d
var is_connected = function(d, opacity) {
    lines.transition().style("stroke-opacity", function(o) {
        return o.source === d || o.target === d ? 1 : opacity;
    });
}

var revert_on_mouse_out = function(d) {
    lines.transition().style("stroke-opacity", function(o) {
        return default_opacity;
    });
}

var isnotService = function(node) {
    if (!pkg_name_list.includes(node.id)) {
        return node.description;
    } 
    return node.id.trim();
};

var determine_node_size = function(node){
    if(node.count/2 <= 2){
        return node.count*2
    } else{
        return node.count/2
    }
}


var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("viewBox", "0 0 1000 1000")
    .attr("height", height);

var dim = width-200
var circle = svg.append("path")
    .attr("d", "M 100, "+(dim/2+50)+" a "+dim/2+","+dim/2+" 0 1,0 "+dim+",0 a "+dim/2+","+dim/2+" 0 1,0 "+dim*-1+",0")
    .style("fill", "#f5f5f5");

var circle2 = svg.append("path")
    .attr("d", "M 300, "+(dim/2+50)+" a "+(dim/2)/2+","+(dim/2)/2+" 0 1,0 "+dim/2+",0 a "+(dim/2)/2+","+(dim/2)/2+" 0 1,0 "+dim*-1/2+",0")
    .style("fill", "#f5f5f5");

force.start();

nodes_pkg_name.forEach(function(n, i) {
    var coord = circleCoord(n, i, nodes_pkg_name.length)
    n.x = coord.x
    n.y = coord.y

});

nodes_language.forEach(function(n, i) {
    var coord = SmallcircleCoord(n, i, nodes_language.length)
    n.x = coord.x
    n.y = coord.y
});

var lines = svg.selectAll("path.node-link")
    .data(links).enter().append("path")
    .attr("class", "node-link")
    .attr("stroke-width", "4")
    .attr("stroke-opacity", default_opacity)
    .attr("stroke", function (d){ return colorScheme(d.target.id)})
    .attr("d", function(d) {
        var dx = d.target.x - d.source.x,
            dy = d.target.y - d.source.y,
            dr = Math.sqrt(dx * dx + dy * dy);
        return "M" + 
            d.source.x + "," + 
            d.source.y + "A" + 
            dr + "," + dr + " 0 0,1 " + 
            d.target.x + "," + 
            d.target.y;
    });

var gnodes = svg.selectAll('g.gnode')
    .data(nodes).enter().append('g')
    .attr("transform", function(d) {
        return "translate("+d.x+","+d.y+")"
    })
    .classed('gnode', true);

var tooltip = d3.select("body")
    .append("div")
    .style("position", "absolute")
    .style("z-index", "10")
    .style("font-family", "monospace")
    .style("visibility", "hidden")
    .style("background", "black")
    .style("opacity", 1)
    .style("font-size", "15px")
    .style("border-radius", "6px")
    .style("padding", "5px 5px")
    .style("color", "white")
    .style("max-width","200px")
    .style("word-wrap","break-word")
    .style("width", "100%");


var node = gnodes.append("circle")
    //.attr("r", function(d){return Math.log(d.count)})
    .attr("r", function(d){return determine_node_size(d)})
    .attr("class", "node")
    .attr("fill", function(d) {if (languages_list.includes(d.id)){
        return colorScheme(d.id);
    } else {
        return "grey"
       }
    })
    .on("mouseenter", function(d) {
        is_connected(d, 0.1)
        //node.transition().duration(100).attr("r", function(d){return Math.log(d.count)})
        node.transition().duration(100).attr("r", function(d){return determine_node_size(d)})
        //d3.select(this).transition().duration(100).attr("r", function(d){return Math.log(d.count)*2})
        d3.select(this).transition().duration(100).attr("r", function(d){return determine_node_size(d)*2}) 
    })
    .on("mouseleave", function(d) {
        is_connected(d, 0.1);
        //node.transition().duration(100).attr("r", function(d){return Math.log(d.count)});
        node.transition().duration(100).attr("r", function(d){return determine_node_size(d)});
        revert_on_mouse_out(d)
        
    })

    .on("mouseover", function(d){tooltip.text(isnotService(d)); return tooltip.style("visibility", "visible");})
      .on("mousemove", function(){return tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");})
      .on("mouseout", function(){return tooltip.style("visibility", "hidden");});

var determine_font_weight = function(d){
    if(pkg_name_list.includes(d.id)){
        return "lighter";
    } else{
        return "bold";
    }
};

var determine_font_size = function(d){
    if(pkg_name_list.includes(d.id)){
        return "10px";
    } else{
        return "20px";
    }
};

var determine_rotate = function(d){
    if(pkg_name_list.includes(d.id)){
        angle = (d.index / (pkg_name_list.length /2 )) * Math.PI; 
        if (angle > Math.PI/2  && angle < 1.5 * Math.PI){

            rotate = (angle * 180) / Math.PI - 180

        } else {
            rotate = (angle * 180) / Math.PI
        }

        return "rotate(" + rotate.toString() + ")";
    } else{
        return 0
    }
};

var determind_anchor = function(d){
    if(pkg_name_list.includes(d.id)){
        angle = (d.index / (pkg_name_list.length /2 )) * Math.PI; 
        if (angle > Math.PI/2  && angle < 1.5 * Math.PI){

            anchor = "start"

        } else {
            anchor = "end"
        }

        return anchor;
    } else{
        return "end"
    }
};

var determine_dx = function(d){
    if(pkg_name_list.includes(d.id)){
        angle = (d.index / (pkg_name_list.length /2 )) * Math.PI; 
        if (angle > Math.PI/2  && angle < 1.5 * Math.PI){

            dx = 20

        } else {
            dx = -20
        }

        return dx;
    } else{
        return -20
    }
};




var labels = gnodes.append("text")
    .attr("transform", function(d){return determine_rotate(d)})
    .attr("dx", function(d){return determine_dx(d)})
    .attr("padding", "10px")
    .attr("text-anchor", function(d){return determind_anchor(d)})
    .attr("font-weight", function(d){return determine_font_weight(d)})
    .attr("font-size", function(d){return determine_font_size(d)})
    .text(function(d){return d.id})

</script>

</body>
</html>
